{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        <span class="label label-default">Бездомный</span>
    {% else %}
        <span class="label label-danger">Не бездомный</span>
    {% endif %}
{% endblock %}
