{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value.owner.shelterHistories[value.owner.shelterHistories|length - 1] is defined %}
        {% set shelterHistor = value.owner.shelterHistories[value.owner.shelterHistories|length - 1] %}
        {% if shelterHistor.status.id == 1 %}
            Проживает
        {% else %}
            <span class="text-red text-bold">
                Проживал ранее
            </span>
        {% endif %}
    {% else %}
        Не проживал
    {% endif %}
{% endblock %}
