{% extends '/pdf/certificate/layout.html.twig' %}

{% block header_left %}
    Направление № <span class="underline">{{ certificate.id }}</span> в ГУ «Санкт-Петербургская городская дезинфекционная станция Минздрава России»
    <br/>
    Адрес: ул. Ивашенцева, 5<br/>
    Режим работы: 10:00-16:00
{% endblock %}

{% block header_right %}
    Благотворительная общественная организация «Название организации», работающая в Санкт-Петербурге
    по программе помощи бездомным и малоимущим просит Вас провести санитарную обработку
{% endblock %}

{% block body_left %}{% endblock %}
