version: '3.9'
services:
  nginx:
    container_name: mks-nginx
    image: nochlezhka/mks-app:${MKS_VERSION}
    entrypoint: ["/etc/nginx/entrypoint.sh"]
    links:
      - php
    ports:
      - 8080:80
      - 8443:443
    restart: always
    volumes:
      - "./storage/uploads:/var/www/symfony/web/uploads"
    env_file:
      - .env
    # TODO: temporary disabled, will be enabled by different MR
    # volumes:
    #   - "./shared/logs/nginx:/var/log/nginx"
  php:
    container_name: mks-php
    image: nochlezhka/mks-app:${MKS_VERSION}
    links:
      - db
    restart: always
    volumes:
      - "./storage/uploads:/var/www/symfony/web/uploads"
    env_file:
      - .env
  db:
    container_name: mks-db
    image: mysql:8.0.30
    profiles:
      - local
    cap_add:
      - SYS_NICE
    ports:
        - 3306:3306
    restart: always
    # TODO: temporary disabled, will be enabled by different MR
    # volumes:
    #     - ${HOME}/sql:/docker-entrypoint-initdb.d/:rw
    #     - ${HOME}/mysql_data:/var/lib/mysql
    env_file:
      - .env
