version: '2'
services:
  nginx:
    container_name: mks-nginx
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
      args:
        UID: $UID
        GUID: $GUID
    links:
      - php
    ports:
      - $PORT:80
      - $HTTPS_PORT:443
    volumes_from:
      - php
    volumes:
      - "./shared/logs/nginx:/var/log/nginx"
    networks:
      default:
        aliases:
          - $NGINX_ALIAS
    restart: always
  php:
    container_name: mks-app
    image: ghcr.io/nochlezhka/mks:latest
    links:
      - db
    environment:
        DB_NAME: $MYSQL_DATABASE
        DB_USER: $MYSQL_USER
        DB_PASSWORD: $MYSQL_PASSWORD
    restart: always
  db:
    container_name: mks-db
    image: mariadb:10.3.35
    expose:
        - "3306"
    ports:
        - 127.0.0.1:$MYSQL_PORT:3306
    volumes:
        - "./shared/mysql/data/db:/var/lib/mysql"
    environment:
        MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
        MYSQL_DATABASE: $MYSQL_DATABASE
        MYSQL_USER: $MYSQL_USER
        MYSQL_PASSWORD: $MYSQL_PASSWORD
    restart: always
