{% extends  'SonataAdminBundle:CRUD:base_list_notice.html.twig' %}

{% block list_filters %}
    {% if admin.autoNotices is not empty %}
        <div class="col-xs-12 col-md-12 sonata-filters-box" id="filter-container-{{ admin.uniqid() }}">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-header">
                        <h4 class="box-title">Автоматические напоминания </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <ul>
                            {% for notice in admin.autoNotices %}
                                <li>{{ notice }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {{ block('list_filters', 'SonataAdminBundle:CRUD:base_list_notice.html.twig') }}
{% endblock %}
