{% extends 'admin/layout.html.twig' %}

{% block sonata_admin_content_actions_wrappers %}
    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
        <ul class="nav navbar-nav navbar-left">
            {% if _actions|split('</a>')|length > 2 %}
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        {{ _actions|raw }}
                    </ul>
                </li>
            {% else %}
                {{ _actions|raw }}
            {% endif %}
        </ul>
    {% endif %}
{% endblock sonata_admin_content_actions_wrappers %}