# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    server_version:    mariadb-10.3.35
    database_driver:   pdo_mysql
    env(DB_HOST): db
    env(DB_PORT): 3306
    env(DB_NAME): homeless
    env(DB_USER): homeless
    env(DB_PASSWORD): XXXXXXXX
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       mailhog
    mailer_user:       null
    mailer_password:   null
    mailer_port:       1025

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    locale: ru
    router.request_context.host:   homeless.dev
    router.request_context.scheme: http
    # Admin
    admin_format_date: d.m.Y
    admin_format_datetime: 'd.m.Y H:i:s'
    admin_model_timezone: Europe/Moscow
    admin_view_timezone: Europe/Moscow

    org_name_short: 'Название организации'
    org_name: 'СПб БОО «Название организации»'
    org_description: 'Благотворительная общественная организация «Название организации», работающая в Санкт-Петербурге по программе помощи бездомным и малоимущим'
    org_description_short: 'СПб БОО «Название организации», работающей в Санкт-Петербурге с бездомными и малоимущими гражданами'
    org_city: 'г. Санкт-Петербург'
    org_contacts_full:
        - 'Межрегиональная благотворительная общественная'
        - 'организация помощи бездомным «Название организации»'
        - '(СПб БОО «Название организации»)'
        - 'ОГРН 1000000000000, ИНН 7800000000, КПП 780000000'
        - 'Россия, 192000, Санкт-Петербург, Улица ул., дом 1'
        - 'Соцслужба: т/ф +7(812)123-0000; офис: т/ф +7(812)123-0000'
    dispensary_name: 'Городской наркологический диспансер'
    dispensary_address: '-укажите адрес-'
    dispensary_phone: '-укажите телефон-'
    employment_name: 'Агентство занятости населения'
    employment_address: '-укажите адрес-'
    employment_inspection: 'Государственную трудовую инспекцию в г. Санкт-Петербурге (Тел.: (812) 747-37-85 с 14.00 до 16.00; 198095, Санкт-Петербург, ул. Зои Космодемьянской, д. 28, лит. А; адрес для подачи жалоб в сети Интернет: http://онлайнинспекция.рф )'
    sanitation_name: 'ГУ «Санкт-Петербургская городская дезинфекционная станция Минздрава России»'
    sanitation_address: 'ул. Ивашенцева, 5'
    sanitation_time: '10:00-16:00'
