Влад Пасечник, [13.04.18 00:55]
form .sonata-ba-form-actions.stuck{
    position: initial;
}

.tab-menu {
    border-bottom: 1px solid #bababa;
}

.abb-btn-drop-menu
{
    color: #292929;
    font-weight: 600;
}

.table > thead > tr > th ,.table-bordered>tfoot>tr>td{
    vertical-align: middle;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    vertical-align: middle;
}

.select2-container .select2-choice > .select2-chosen {

    padding-top: 9px;
}

.navbar-default .navbar-nav>li>a.tab_menu_bold_itm {
    font-weight: 600;
    color: #dd4b39;
}

.panel-margin {margin:8px;}
.panel-label-margin {margin-left:8px;}

#user-webcam-photo {
    display: none;
}

#show_stream {
    display: none;
}

#camera {
    display: inline-block;
    background-color: #eee;
    width: 250px;
    height: 300px;
    margin: 0.5em;
}

#camera .placeholder {
    padding: 0.5em;
}

#snapshots {
    height: 150px;
    margin: 0.5em 0;
    padding: 3px;

    border: 1px solid #aaa;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;

    height: 100%;
    margin-left: 3px;
    border: 3px solid transparent;
}

#snapshots .selected {
    border: 3px solid #000;
}

@media (min-width: 768px) {
    .form-inline .control-label {
        margin-bottom: 3px;
    }
}

input#filter_search_value{
    width:100%;
    border: 1px #3c8dbc solid;
}

.box-client-field{
    float: left;
    width: 115%;
}
.sonata-ba-show .box-client-field .table>tbody>tr>td, .sonata-ba-show  .box-client-field .table>tbody>tr>th {
    line-height: 1.1;
}

.box-client-field-all{
    line-height: 1.3;
}

.client-show .box-header{
    padding: 5px;
}


.box-client-field-all{
    margin-bottom: -55px;
}
.sonata-ba-show .box-client-field-all .table>tbody>tr>td{
    padding: 1px 1px 1px 5px;
}
.content {
    padding-bottom: 55px;
}
.clear-buttom-li li{
    display: inline-block;
}
#user-file-photo > p {
    font-size: 16px;
    border: 1px solid #4eadff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #edfbfb;
}
#user-webcam-photo > p {
    font-size: 14px;
    border: 1px solid #4eadff;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #edfbfb;
    width: 207px;
}
.class-th-comment{
    width: 40%;
}

.modal-dialog .checkbox label{
    margin-left: 0;
}

.treeview-menu.menu_level_1.menu-open{
    height: 300px;
    overflow-x: auto;
}

.sonata-ba-show .box{
    margin-bottom: 5px;
}

Влад Пасечник, [13.04.18 00:55]


.sonata-ba-show .col-lg-1,.sonata-ba-show .col-lg-10,.sonata-ba-show .col-lg-11,.sonata-ba-show .col-lg-12,.sonata-ba-show .col-lg-2,.sonata-ba-show .col-lg-3,.sonata-ba-show .col-lg-4,.sonata-ba-show .col-lg-5,.sonata-ba-show .col-lg-6,.sonata-ba-show .col-lg-7,.sonata-ba-show .col-lg-8,.sonata-ba-show .col-lg-9,.sonata-ba-show .col-md-1,.sonata-ba-show .col-md-10,.sonata-ba-show .col-md-11,.sonata-ba-show .col-md-12,.sonata-ba-show .col-md-2,.sonata-ba-show .col-md-3,.sonata-ba-show .col-md-4,.sonata-ba-show .col-md-5,.sonata-ba-show .col-md-6,.sonata-ba-show .col-md-7,.sonata-ba-show .col-md-8,.sonata-ba-show .col-md-9,.sonata-ba-show .col-sm-1,.sonata-ba-show .col-sm-10,.sonata-ba-show .col-sm-11,.sonata-ba-show .col-sm-12,.sonata-ba-show .col-sm-2,.sonata-ba-show .col-sm-3,.sonata-ba-show .col-sm-4,.sonata-ba-show .col-sm-5,.sonata-ba-show .col-sm-6,.sonata-ba-show .col-sm-7,.sonata-ba-show .col-sm-8,.sonata-ba-show .col-sm-9,.sonata-ba-show .col-xs-1,.sonata-ba-show .col-xs-10,.sonata-ba-show .col-xs-11,.sonata-ba-show .col-xs-12,.sonata-ba-show .col-xs-2,.sonata-ba-show .col-xs-3,.sonata-ba-show .col-xs-4,.sonata-ba-show .col-xs-5,.sonata-ba-show .col-xs-6,.sonata-ba-show .col-xs-7,.sonata-ba-show .col-xs-8,.sonata-ba-show .col-xs-9{
    padding-right: 5px;
    padding-left: 5px;
}

.sonata-ba-show p{
    margin: 0 0 5px;
}

.sonata-ba-show .table>tbody>tr>td,.sonata-ba-show  .table>tbody>tr>th, .sonata-ba-show .table>tfoot>tr>td, .sonata-ba-show .table>tfoot>tr>th, .sonata-ba-show .table>thead>tr>td, .sonata-ba-show  .table>thead>tr>th {
    padding: 5px;
    line-height: 1.328571;
}

.sonata-ba-show .box-client-field .box-header {
    display: none;
}

.modal-dialog.modal-lg .modal-content form > .row {
    margin: 0 5px;
}

.photo-block .box-header{
    display: none;
}

.select2-search{
    display: none;
}

.select2-search{
    display: none;
}

.select2-results{
    max-height: 520px;
}

.select2-results .select2-result-label {
    padding: 0;
}

.skin-black .main-header>.logo{
    padding: 0;
    line-height: 47px;
}
.skin-black .main-header>.logo img{
    padding: 0;
}