version: '3.9'
services:
  nginx:
    container_name: nginx
    image: nochlezhka/mks-app:${MKS_VERSION}
    entrypoint: [ "/etc/nginx/entrypoint.sh" ]
    links:
      - php
    ports:
      - 8080:80
      - 8443:443
    restart: unless-stopped
    volumes:
      - "./storage/data/uploads:/var/www/symfony/public/uploads"
      - "./storage/data/letsencrypt:/etc/letsencrypt:ro"
      - "./storage/data/certbot:/var/www/certbot:ro"
    environment:
      - DOMAIN=${MKS_DOMAIN}
      - MODE=${NGINX_MODE}

  certbot:
    container_name: certbot
    image: certbot/certbot:v2.4.0
    depends_on:
      - nginx
    profiles:
      - certbot
    entrypoint: "/bin/sh -c \"trap exit TERM; while :; do sleep 10; certbot certonly --reinstall --webroot --webroot-path=/var/www/certbot --email ${MKS_SUPPORT_EMAIL} --agree-tos --no-eff-email -d ${MKS_DOMAIN} --post-hook 'chown -R 1000:1000 /etc/letsencrypt/live /etc/letsencrypt/archive /etc/letsencrypt/archive/${MKS_DOMAIN}/* && chmod 750 /etc/letsencrypt/live/* /etc/letsencrypt/archive/* /etc/letsencrypt/archive/${MKS_DOMAIN}/*'; sleep 12h & wait $${!}; done;\""
    volumes:
      - "./storage/data/letsencrypt:/etc/letsencrypt"
      - "./storage/data/certbot:/var/www/certbot"
    environment:
      - MKS_SUPPORT_EMAIL=${MKS_SUPPORT_EMAIL}
      - MKS_DOMAIN=${MKS_DOMAIN}
  php:
    container_name: mks-app
    image: nochlezhka/mks-app:${MKS_VERSION}
    restart: unless-stopped
    volumes:
      - "./storage/data/uploads:/var/www/symfony/public/uploads"
    env_file:
      - .env

  db:
    container_name: db
    image: mysql:8.0.30
    profiles:
      - local
    cap_add:
      - SYS_NICE
    ports:
      - 3306:3306
    restart: unless-stopped
    volumes:
      - "./storage/mysql/data:/var/lib/mysql"
    env_file:
      - .env
