{% extends '@!SonataUser/Admin/Security/Resetting/request.html.twig' %}

{% block login_box_header %}
    <div class="login-logo">
        <a href="{{ path('sonata_admin_dashboard') }}">
            {% if 'icon' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                <div>
                    <img src="{{ asset(sonata_config.logo) }}" alt="{{ sonata_config.title }}">
                </div>
            {% endif %}
            {% if 'text' == sonata_config.getOption('logo_content') or 'all' == sonata_config.getOption('logo_content') %}
                <span>{{ sonata_config.title }}</span>
            {% endif %}
        </a>
    </div>
{% endblock %}
