;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cljs-ajax "0.8.0"]
  [day8.re-frame/http-fx "v0.2.0"] ;; TODO: 0.2.1?
  [metosin/reitit "0.5.5"]
  [org.clojars.frozenlock/reagent-keybindings "1.0.2"]
  [re-frame "1.1.1"]]

 :dev-http {8142
            {:root "public"

             ;; Адрес на котором запущен МКС.
             ;; Подробнее: https://shadow-cljs.github.io/docs/UsersGuide.html#dev-http-proxy
             :proxy-url "http://localhost/app_dev.php"
             }}

 :builds
 {:app
  {:target :browser
   :dev {:closure-defines {humaid.config/APP-PREFIX ""
                           humaid.config/MKS-ADDR "http://localhost/"}}
   :modules {:main {:init-fn humaid.app/init!}}}}}
